.stile {
    border-radius: 50px;
    background-color: black;
    border: 5px solid rgba(209, 37, 37, 0.253);
}

.roud {
    border-radius: 50px;
    border: 2px solid black;
}

.roulant {
    background-color: rgba(255, 255, 255, 0.473);
}

.borderL {
    border: 1px solid black;
}

.bgt ul {
    display: none;
    background-color: rgba(92, 139, 177, 0.116);

}

.bgt ul:hover {
    background-color: rgba(92, 139, 177, 0.596);
}

.bgt:hover ul {
    display: block;
    border-radius: 10px;
}

.bgt {
    background-color: rgba(100, 148, 237, 0.322);
    border: 1px solid rgba(105, 91, 91, 0.555);
    border-radius: 10px;
    border-top: none;
    background: linear-gradient(rgba(255, 255, 255, 0.13), rgba(100, 148, 237, 0.322));
}